matplotlib
fastapi
langchain
pymongo
pandas
chromadb
langchain_huggingface
langchain_google_genai
langchain_community
jinja2
uvicorn
python-multipart
passlib[bcrypt] 
python-jose
itsdangerous
pypdf
opencv-python
numpy
cmake
dlib
face_recognition
